@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

@font-face {

    font-family: 'Be Vietnam Medium';

    src: url("../Fontes/BeVietnam-Medium.woff");

}

@font-face {

    font-family: 'Playlist';

    src: url("../Fontes/Playlist\ Script.otf");

}

@font-face {

    font-family: 'Kollektif';

    src: url("../Fontes/Kollektif-Bold.ttf");

}

#menu-h {
    background-color: #491C67;
    border-radius: 38px;
}

#menu-h ul {
    max-width: 100%;
    padding: 0;
    margin: 3%;
}

#menu-h ul li {
    display: inline;
    font-family: 'Be Vietnam Medium';
    margin: 2px;
}

#menu-h ul li a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background .8s;
    border-radius: 38px;
}

#menu-h ul li a:hover {
    background-color: #602e82;
}

#menu-h ul li:last-child a {
    float: right;
    letter-spacing: 1px;
}



.principal {
    display: inline;
    text-align: right;
    flex-wrap: wrap;
}

.pesquisar li {
    display: flex;
    justify-content: left;
    align-items: right;
    flex-wrap: wrap;
    width: 5px;
    height: 0;
    margin: 0;
    color: #fff;
}

.pesquisar li a img {
    max-width: 200px;
    max-height: 200px;
}

.logo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    color: #fff;
}

.logo li a img {
    max-width: 200px;
    max-height: 200px;
}

.perfil li {
    display: inline;
    flex-wrap: wrap;
    margin: 15px;
    color: #fff;
}

.perfil li a img {
    width: 30px;
}

.promo {
    box-sizing: content-box #491C67;
    border-radius: 35%;
}


/* inicio da copy */

.Container-card-1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    /* Define o contêiner para ocupar a largura da página */
    max-width: 100%;
    background-color: #c4c4c4;
}

.cards {
    /* Defina o tamanho dos contêineres das imagens (4x2) */
    width: calc(50% - 1rem);
    /* Subtrai a largura da margem (2rem) para garantir que haja espaço para as imagens */
    max-width: 400px;
    /* Define um tamanho máximo para os contêineres das imagens, caso a tela seja muito estreita */
}

.cards img {
    width: 100%;
    /* Ajusta a largura da imagem para ocupar todo o espaço disponível no contêiner */
    height: auto;
    margin: 1%;
    /* Remove a margem padrão das imagens */
    transition: 0.35s ease;
}

.cards img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

.cards_text {
    color: white;
    text-align: center;
    font-size: 18px;


}

.titulo-categorias {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Container-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    color: #fff;
}

.Container-categorias img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;


}

.categoria img {
    width: 250px;
    height: auto;
}

.categoria {
    background-color: #8f8f8f;

}


/* BANNER */

.Banner {
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
}

.Banner h1 {
    font-size: 3rem;

}

.Banner p {
    font-size: 23px;

}

.Banner button {
    background-color: #550047;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

}

.Banner button:hover {
    background-color: #111;
    transform: scaleY(1.2);
}

.Banner {
    position: relative;
    /* Define a posição relativa para que possamos posicionar a imagem e o texto */
    height: 500px;
    /* Defina a altura da div Banner */
}

.Banner img {
    position: absolute;
    /* Define a posição absoluta para que a imagem fique sobreposta ao texto */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta o dimensionamento da imagem para cobrir a div */
    z-index: -1;
    /* Define um valor negativo para que a imagem fique atrás do texto */
}

.Banner h1,
.Banner p,
.Banner button {
    color: white;
    /* Define a cor do texto para que seja visível na imagem de fundo */
    /* Outros estilos para o texto, se necessário */
}

#Contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #610264;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #ffffff;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text {
    text-align: center;
    background-color: #000000;
    color: #fff;
}